.articleFeed {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  border: black solid 1px;
}
.articleItem {
  display: flex;
  flex-direction: column;
}

.articleDisplay {
  display: flex;
  flex-direction: row;
  border: black 1px solid;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  align-content: space-between;
  justify-content: space-between;
  text-align: left;
}
