.comments {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

.comment {
  display: flex;
  border: white 1px solid;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  align-content: space-between;
  justify-content: space-between;
}

.commentText {
  text-align: left;
}

.body {
  font-size: 2em;
  padding: 20px;
}

.voter {
  float: right;
}
