.comments {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

.comment {
  display: flex;
  border: white 1px solid;
  background: white;
  -webkit-box-shadow: 6px 6px 14px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 14px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 14px -6px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  align-content: space-between;
  justify-content: space-between;
}

.commentText {
  text-align: left;
}

.body {
  font-size: 2em;
  padding: 20px;
}
