/* loading
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #343338;
} */

.loading-content {
  width: 200px;
  height: 200px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.loading-circle {
  top: 0;
  width: 200px;
  height: 100px;
  position: absolute;
  border: 1px solid black;
  border-bottom: 0;
  transform-origin: 50% 100%;
  background-color: transparent;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  animation: loading 1.5s linear infinite;
  -webkit-animation: loading 1.5s linear infinite;
}

.loading-name {
  color: black;
  cursor: default;
  position: relative;
}

@-webkit-keyframes loading {
  from {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loading {
  from {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
