.topicsMenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: #d7000d;
}

#topics {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 500px;
}
